/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 2px;
    padding-right: 2px;
}

/* Style the header */
header {
    background-color: #666;
    padding: 1px;
    text-align: center;
    font-size: 20px;
    color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 15%;
    height: 480px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
}


article {
    float: left;
    padding: 20px;
    width: 85%;
    background-color: #f1f1f1;
    height: 480px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footer {
    background-color: #777;
    padding: 7px;
    text-align: center;
    color: white;
}

img {
    float: left;
}
